{% extends 'base.html.twig' %}

{% block title %}UMBERTO - Projets{% endblock %}

{% block body %}
<div class="row">
    <div class="col-2">
        {% include "_partials/_sidenav/_app.html.twig" %}
    </div>
    <div class="col-10">
       {% include "_partials/_numbers.html.twig" %}
        <div class="container">
            <h1>Projets</h1>
            <div class="row">
                <div class="col-3">
                    <a href="{{ path('app_projects_create') }}" class="text-decoration-none"><button type="button" class="btn btn-primary btn-color fw-bold"
                    style="width : 14rem; height : 14rem;  --bs-btn-font-size: 3rem;">
                        <i class="fas fa-solid fa-circle-plus fa-lg"></i>
                    </button></a>
                </div>
                {# Loop over the projects #}
                {% for project in userProjects %}
                    <div class="col-3">
                        <a href="{{ path('app_universes', {'projectId': project.id}) }}" class="text-decoration-none"><button type="button" class="btn btn-primary btn-color fw-bold"
                        style="width : 14rem; height : 14rem;  --bs-btn-font-size: 2rem;">
                            {{ project.name }} {# Display the project name on the button #}
                        </button></a>
                    </div>
                    {% if loop.index is divisible by(4) and not loop.last %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
