<ul class="list-unstyled px-2 text-center border-end shadow nav nav-pills flex-column mb-auto" style="min-height:100vh">
    <br>
    <li><a href="{{ path('app_main') }}" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary">Revenir au menu principal</button></a></li>
    <br>
    <li><a href="{{ path('app_projects_main') }}" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary">Projets</button></a></li>
    <br>
    <li><a href="#" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary" disabled>Univers sémantiques</button></a></li>
    <br>
    <li><a href="#" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary" disabled>Branches sémantiques</button></a></li>
    <br>
    <li><a href="#" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary" disabled>Idées</button></a></li>
    <br>
    <li><a href="{{ path('app_treatment_first') }}" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary">Traitement</button></a></li>
</ul>