<ul class="list-unstyled px-2 text-center border-end shadow " style="height:100vh">
    <br>
    <li><a href="{{ path('app_main') }}" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary">Revenir au menu principal</button></a></li>
    <br>
    <li><a href="{{ path('app_profil_edit') }}" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary">Profil</button></a></li>
    <br>
    <li><a href="{{ path('app_profil_password')}}" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary">Mot de passe</button></a></li>
</ul>