{% extends 'base.html.twig' %}

{% block title %}Traitement - Choisissez un projet{% endblock %}

{% block body %}
<div class="row">
    <div class="col-2">
        {% include "_partials/_sidenav/_app_able.html.twig" %}
    </div>
    <div class="col-10">
        {% include "_partials/_numbers.html.twig" %}
        <div class="container col-8">
            <div class="row">
                <div class="col">
                    {{ wo_render_breadcrumbs({separator: '>', listId: 'breadcrumbs'}) }}
                    <table class="table table-hover table-bordered">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Choisissez un projet</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in userProjects %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('app_treatment_second', { 'projectId': project.id}) }}" class="text-decoration-none" style="color: black;">
                                                {{ project.name }}
                                            </a>
                                        </td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}