{% extends 'base.html.twig' %}

{% block title %}Usy Accueil{% endblock %}

{% block body %}
<div class="row">
    <div class="col-2">
        <ul class="list-unstyled px-2 text-center border-end shadow " style="height:100vh">
            <br>
            <li><a href="#" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary">Revenir au menu principal</button></a></li>
            <br>
            <li><a href="#" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary">Projets</button></a></li>
            <br>
            <li><a href="#" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary">Univers sémantiques</button></a></li>
            <br>
            <li><a href="#" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary">Branches sémantiques</button></a></li>
            <br>
            <li><a href="#" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary">Idées</button></a></li>
            <br>
            <li><a href="#" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary">Traitement</button></a></li>
        </ul>
    </div>
    <div class="col-10">
        <h1>Page d'Accueil USY</h1>
        <p>Bienvenue</p>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary fw-bold"
                style="--bs-btn-padding-y: 8.25rem; --bs-btn-padding-x: 7.279rem; --bs-btn-font-size: 3rem;">
                    UMBERTO
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary fw-bold"
                style="--bs-btn-padding-y: 8.25rem; --bs-btn-padding-x: 11.1803rem; --bs-btn-font-size: 3rem;" disabled>
                    UGO
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary fw-bold"
                style="--bs-btn-padding-y: 8.25rem; --bs-btn-padding-x: 8.799rem; --bs-btn-font-size: 3rem;" disabled>
                    URIELLE
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary fw-bold"
                style="--bs-btn-padding-y: 8.25rem; --bs-btn-padding-x: 9.348rem; --bs-btn-font-size: 3rem;" disabled>
                    ULYSSE
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary fw-bold"
                style="--bs-btn-padding-y: 8.25rem; --bs-btn-padding-x: 8.728rem; --bs-btn-font-size: 3rem;" disabled>
                    URBAIN
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary fw-bold"
                style="--bs-btn-padding-y: 8.25rem; --bs-btn-padding-x: 10.025rem; --bs-btn-font-size: 3rem;" disabled>
                    URIDE
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
