body {
    font-family: 'Roboto', sans-serif;
}

.custom-btn {
    padding-top: 8.25rem;
    padding-bottom: 8.25rem;
    font-size: 3rem;
    font-weight: bold;
}

.btn-color {
    background-color: #07435F !important;
    border: #07435F;
}

.breadcrumb a {
    text-decoration: none;
}

.numbers {
    background-color: #07435F !important;
    border: #07435F;
    color: #ffffff;
}

/* Ajustement pour les écrans moyens (tablettes) */
@media (max-width: 1025px) {
    .custom-btn {
        padding-top: 5rem;
        padding-bottom: 5rem;
        font-size: 2rem;
    }
}

/* Ajustement pour les écrans plus petits (téléphones mobiles) */
@media (max-width: 769px) {
    .custom-btn {
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 1.5rem;
    }
}