body {
    font-family: 'Roboto', sans-serif;
}

.navbar-custom {
    background-color: #07435F !important;
}

.custom-btn {
    padding-top: 8.25rem;
    padding-bottom: 8.25rem;
    font-size: 3rem;
    font-weight: bold;
}

.btn-color {
    background-color: #07435F !important;
    border: #07435F;
}

.breadcrumb a {
    text-decoration: none;
}

.numbers {
    background-color: #07435F !important;
    border: #07435F;
    color: #ffffff;
}

/* Ajustement pour les écrans moyens (tablettes) */
@media (max-width: 1025px) {
    .custom-btn {
        padding-top: 5rem;
        padding-bottom: 5rem;
        font-size: 2rem;
    }
}

/* Ajustement pour les écrans plus petits (téléphones mobiles) */
@media (max-width: 769px) {
    .custom-btn {
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 1.5rem;
    }
}

.button-sidenav {
    border: 1px solid #07435F;
    color: #07435F;
    font-size: 1rem;
    width: 90%;
    /* Changez ici la largeur */
    height: 4rem;
}

.button-sidenav:hover {
    background-color: #07435F;
    color: #FFFFFF;
}

/* Ajustement pour les écrans plus petits */
@media (max-width: 768px) {
    .button-sidenav {
        font-size: 0.8rem;
        height: 3rem;
    }
}